/* abeezee-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/abeezee-v22-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/abeezee-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/abeezee-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/abeezee-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/abeezee-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/abeezee-v22-latin-regular.svg#ABeeZee') format('svg'); /* Legacy iOS */
  }
/* acme-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    src: url('.assets/fonts/acme-v21-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('.assets/fonts/acme-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('.assets/fonts/acme-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('.assets/fonts/acme-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('.assets/fonts/acme-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('.assets/fonts/acme-v21-latin-regular.svg#Acme') format('svg'); /* Legacy iOS */
  }
/* adamina-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Adamina';
    font-style: normal;
    font-weight: 400;
    src: url('.asset/fonts/adamina-v21-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('.asset/fonts/adamina-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('.asset/fonts/adamina-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('.asset/fonts/adamina-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('.asset/fonts/adamina-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('.asset/fonts/adamina-v21-latin-regular.svg#Adamina') format('svg'); /* Legacy iOS */
  }

.body {
background-color: rgb(246, 246, 237);
margin: 0 auto;
width: 100%;
font-family: 'ABeeZee';
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.header {
    background-color: rgb(190, 190, 30);
    margin: 0 auto;

    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Acme';
}

.main-wrapper {
    background-color: rgb(218, 218, 14);
    margin: 0 auto;

    display: flex;
    justify-content: center;
    width: 100%;
}